/*--------GLOBAL----------*/

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(227, 195, 126);
  width: 90%;
  color: aliceblue;
  border-color: aliceblue;

  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*--------CONTAINER 1 / HEADER ----------*/
section {
  background-color: rgb(133, 94, 46);
  border-color: rgb(233, 233, 233);
  background-image: url(./images/background-container.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  border: 2px solid;
  border-radius: 16px;
  width: 60%;

  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 300px;
}

.container-header {
  width: 100%;
  height: 150px;
  max-height: 180px;
  flex-shrink: 0;
}

.container-header img {
  width: 600px;
  margin-left: 15%;
  height: 100px;
  margin-top: 25px;
  display: block;
}

h1 {
  position: absolute;
  top: 4%;
  margin-left: 10%;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.small-text p {
  font-size: 28px;
}

p {
  margin: 2px 0;
}

/*-----CONTAINER 2 STYLING----*/

.container-2 {
  background-color: rgb(133, 94, 46);
  border-color: rgb(233, 233, 233);

  background-image: url(./images/background-container.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  width: 900px;
  justify-content: center;
  display: flex;
  height: 1400px;
  margin: auto;
  margin-top: 5px;
  margin-left: 300px;
}

.container-2 .left-image {
  width: 300px;
  height: auto;
}

/*-----Container with left image -----*/
.megusta {
  background-image: url(./images/background-container.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  top: 700px;
  left: 35px;
  position: absolute;
  width: 300px;
}

ul,
.megusta img {
  margin-top: -25px;
}

ul {
  margin-right: auto;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.megusta img {
  margin-top: -40px;
  justify-content: top;
  margin-left: -30px;
  align-self: flex-start;
}

nav {
  display: flex;
  gap: 60px;
}

nav a {
  text-decoration: none;
  font-size: 32px;
  color: rgb(255, 234, 0);
}

nav a:hover {
  text-decoration: underline;
}

/*----MAIN CONTENT----*/

.poisons {
  background-image: url(./images/background-container.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;

  max-width: 500px;
  top: 700px;
  position: absolute;
  max-width: 450px;
  padding: 10px;
}

.poisons h2 {
  margin-top: auto;
}

/*-------DREAMWEAVERS DELIGHT-----*/

.headliner h2 {
  top: 250px;
  position: absolute;
  font-size: 36px;
  left: 375px;
  z-index: 2;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.headliner img {
  z-index: 1;
  width: 250px;
  left: 440px;
  top: 500px;
  position: absolute;
}

.right-image {
  width: 500px;
  height: 900px;
  position: relative;
  top: 115px;
  border-radius: 16px;
  left: 150px;
}

.delight {
  position: absolute;
  left: 35px;
  max-width: 900px;
  width: 850px;
  top: 260px;
  height: 250px;
  padding-bottom: 160px;
}

.delight-text {
  left: 30px;
  top: 125px;
  font-size: 26px;
  max-width: 275px;
  position: absolute;
}

footer,
footer p {
  margin-top: auto;
  text-align: center;
}

/*-------CONTACT US-----*/

.contact-us {
  position: absolute;
  text-align: center;
  margin-left: 550px;
  margin-top: 15%;
}

.about {
  top: 1000px;
  margin-top: 5;
  margin-left: 25%;
  width: 600px;
  height: 150px;
  position: absolute;
}

.about h1 {
  top: -60%;
  color: aliceblue;
}

/*---------FEEDBACK--------*/
.feedback-container {
  position: absolute;
  top: 1175px;
  margin-left: 25%;
  max-width: 600px;
  height: 450px;
}

.container {
  display: flex;
  margin-top: 2%;
  flex-direction: column;
  align-items: center;
}

.feedback-top {
  align-items: center;
  justify-content: center;
}

.form-group {
  display: flex;
  align-items: center;
  max-width: 400px;
}

.form-group input {
  flex: 1;
}

textarea {
  resize: none;
  width: 100%;
  border-radius: 12px;
}

.feedback-label {
  color: rgb(201, 234, 16);
  font-size: 24px;
}

input [type="name"],
[type="name"],
[type="email"] {
  width: 400px;
  margin: 10px;
  border-radius: 8px;
}

input[type="submit"] {
  border-radius: 8px;
  width: 120px;
}
